.current-game {
	h3 {
		font-weight: 400;
	}
}

#rpc-table {
	min-width: 980px;
	thead {
		background-color: #3f50b4;
		tr {
			th {
				padding: 0 20px;
				min-width: 100px;
				color: #f8f6f8;
				font-size: 1rem;
				border: 1px solid #b1b1b1;
				text-align: center;
			}
		}
	}
	tbody tr {
		td {
			border: 1px solid #b1b1b1;
		}
		.rock,
		.paper,
		.scissors {
			text-align: center;
			padding: 0 3px;
		}
		.isturn {
			min-width: 211px;
			text-align: center;
			font-size: 1rem;
		}
	}
	.score-row .wins,
	.score-row .losses,
	.score-row .draws,
	.score-row .games {
		text-align: center;
		font-size: 2rem;
		padding: 0 25px;
	}
	.score-row .games {
		color: rgb(24, 26, 24);
	}

	.score-row .wins {
		color: green;
	}

	.score-row .losses {
		color: red;
	}

	.score-row .draws {
		color: blue;
	}
}
