@import './App.scss';

#root {
  .topheader {
    margin:0;
    width:100%;
    color:$headercolor;

    .container {
      position: relative;
    }
    p {
      color:$tablebg;
      font-weight: 400;
    }
    .header-logo {
      display: none;
      position: absolute;
      top: 15px;
      left: 15px;
      max-width: 12%;
      img {
        z-index: 1;
      }
      @media screen and (max-width: 1366px) {
        display: none;
      }
    }
    h1 {
      color:$black;
      font-weight: 400;
    }
    h2 {
      color:$black;
      font-weight: 400;
    }
  }
}







@media only screen and (max-width: $breakpoint-large) {
  .header-logo {
    display:none;
  }
}
