@import './App.scss';
/*
  top-bar
˚˚˚˚˚˚˚˚˚˚˚˚
*/
.topmenu {
  header {
    max-height: 73.25px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    button.topbar-icon img {//doc logo
      max-width: 125px;
      width:100%;
      height: auto;
      &:hover, &:active {
        border:none;
      }
    }
    a.topbar-home {
      color: white;
      text-decoration: none;
      font-weight: 400;
      width: 100%;
      margin-left: 1rem;
      margin-right: 1rem;
      .MuiTypography-root-50 {
        letter-spacing: .35px;
      }
    }

    max-height: 73.25px;
    button.topbar-icon {
      padding: 5px;
      &:hover {//need to match bg
        background-color: rgba(0, 0, 0, 0.018);
        mix-blend-mode: multiply;
        opacity: .9;
      }
      img {
        max-height: 49.25px;
        mix-blend-mode: screen;
        opacity: 1;
        transition: all ease-in 1s;
        &:hover {
          mix-blend-mode: multiply;
        }

      }
    }


  }
}







