@import './App.scss';
@import './keyframes.scss';

.page-wrapper {
	min-height: 100vh;
	width: 100%;
	box-sizing: border-box;
	//transition: all .25s ease-in-out;
	&.bg {
		background: darkslateblue;
	}
	&.bring-down {
		z-index: 1;
		.top-section-wrapper {
			opacity: .5;
			transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
		.mid-section-wrapper {
			opacity: .5;
		}
	}
	.top-section-wrapper {
		margin-bottom: 0;
		opacity: 1;
	}

	.mid-section-wrapper {
		width: 100%;
		opacity: 1;
		min-height: 320px;
		margin-bottom: 0;
		&.loading {
			transition: background 1s, color 1s;
			overflow: hidden;
		}
		.ball-loading {
			background: url(../images/ball.gif) no-repeat center center;
			display: flex;
			justify-content: space-around;
			color: #b9b9b9;
			font-size: 1.25rem;
			line-height: 16;
			mix-blend-mode: hard-light;
		}
		.inner-wrapper {
			.top-score {
				overflow: auto;
				max-height: 200px;
				margin-bottom: 3rem;
				.score-row {
					.is-turn {
						min-width: 250px;
					}
				}
			}
			.midtop {
				overflow: auto;
				margin-bottom: 3rem;
				background: #eee;
				.players-avatar,
				.players-scoreboard {
					min-height: 120px;
					//border: 1px solid #eee;
				}
				.players-avatar {
					display: flex;
					flex-flow: wrap-reverse;
					justify-content: space-evenly;
					span {
						text-align: center;
						display: inline-block;
						width: 100%;
					}
				}
			} //midtop

			.midbottom {
				margin-bottom: 2rem;
				overflow: auto;
				.game-hand {
					padding: 10px 10px 5px 10px;
					transition: all .25s ease-in;
					img.rps-button {
						max-width: 150px;
						background: #f3f3f3;
						height: auto;
						width: 100%;
						cursor: pointer;
						&:active {
							animation-name: rotateOut;
							animation-duration: .5s;
							box-shadow: 1px 0px 15px 5px rgba(110, 110, 110, 0.75);
							border-radius: 50%;
						}
					}
					.game-name {
						float: right;
						padding: 40px;
						margin: 0;
					}
				}
			}
		}
	} //midsection wrapper
}

#ovrlaywrap {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100vw;
	height: 100vh;
	opacity: 1;
	z-index: 2;

	animation: .75s bounceInDown;
  //background: #2196f3;
  background:rgba(33, 150, 243, .8);

	.inner-ovrlay {
		background:#C62828;
		z-index: 3;
		width: 30vw;
		height: 50vh;
		opacity: .85;
		position: fixed;
		border-radius: 5px;
		top: 15%;
		left: 36%;
    box-shadow: 0px 0px 3px 1px #3F51B5
    h3 {
      color: white;
    }
    &.is-wins {
      background: #0D47A1;
    }
    &.is-losses {
      background: #c62828;
    }
    &.is-draws {
      background: #2E7D32;
    }

  }
  .score-title {
    font-size: 3.25rem;
    line-height: 2.5;
    animation: 1s bounceIn;
    color: white;
  }
  .is-rule-violation {
    transition: all .5 ease;
    color: white;
    font-size: 3.5rem;
    line-height: 2;
  }
  .score-par {
    &::after {
			content: 'Official RPS Rules \AE';
      font-size: 1.75rem;
      font-weight: 400;
      text-align: center;
      display: block;
      color: black;
      line-height: 1;
		}
  }
}
